body {
  font-family: "Rubik", sans-serif;
}

nav {
  background-color: #d5bdaf;
}

#circleImg {
  width: 45%;
}

.sticker-img {
  width: 70%;
}

.border-red {
  border: solid #dd5353 2px;
}

.form-select {
  width: 15%;
  display: inline;
}

.bg-red {
  background-color: #dd5353;
}

.bg-beige {
  background-color: #f2e7d5;
}
